<% doctors = Doctor.all %>

<% if doctors.count > 0 %>
  <div class="well"><h5>Doktorlar</h5></div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Bölüm</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Eklenen Tarih</th>
        <th>Güncellenen Tarih</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% doctors.each do |doctor| %>
        <tr>
          <td><%= doctor[:id] %></td>
          <td><%= doctor.department.name %></td>
          <td><%= doctor[:first_name] %></td>
          <td><%= doctor[:last_name] %></td>
          <td><%= doctor[:created_at] %></td>
          <td><%= doctor[:updated_at] %></td>
          <td class="links">
            <a href="/<%= request[:controller] %>/<%= doctor[:id] %>" rel="tooltip" class="icon-info-sign" title="Göster"></a>
            <a href="/<%= request[:controller] %>/<%= doctor[:id] %>/destroy" rel="tooltip" class="icon-trash" title="Sil"
              onclick="return confirm('Bu kaydı gerçekten silmek istiyor musunuz?')"></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <center>
    Hiç Kayıt Bulunamadı
  </center>
  <div class="form-actions">
    <center>
      <a href="/admin" class="btn btn-primary">Ana Sayfaya Dön</a>
    </center>
  </div>
<% end %>

<a href="/<%= request[:controller] %>/new" class="btn btn-primary">Yeni Doktor Ekle</a>
