<section id="#">
<div class="page-header">
  <h1>Randevular <small>(<%= File.basename request.path %>)</small></h1>
</div>
<div class="row">
  <div class="span3 columns">
    <h3>Hakkında</h3>
    <p>Tüm randevu istekleridir.</p>
  </div>
  <div class="span9 columns">
    <h2>Sıralama</h2>

    <form action="<%= request.path %>" method="post" class="form-inline" >
      <div class="span9">
        <p>Sıralama işlemini aşağıdaki kutuları kullanarak yapabilirsiniz.</p>

        <ul class="thumbnails">

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Tc</h5>

            <input type="text" class="input-small" name="tc" value="<%= params[:tc] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Ad</h5>

            <input type="text" class="input-small" name="first_name" value="<%= params[:first_name] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Soyad</h5>

            <input type="text" class="input-small" name="last_name" value="<%= params[:last_name] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Gün</h5>

            <input class="input-medium" type="text" name="date" data-datepicker="datepicker"
            value="<%= params[:date] if params[:date] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">

            <h5>Bölüm</h5>

            <select class="input-medium" name="department_id" onchange='this.form.submit()'>
              <option value=""></option>
              <% Department.all.each do |department| %>
                <option value="<%= department[:id] %>" <%= 'selected' if department[:id] == params[:department_id].to_i %>>
                <%= department[:name] %>
                </option>
              <% end %>
            </select>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Doktor</h5>

            <select class="input-medium" name="doctor_id" onchange='this.form.submit()'>
              <option value=""></option>
              <% if params[:department_id] %>
                <% Doctor.find_all_by_department_id(params[:department_id]).each do |doctor| %>
                  <option value="<%= doctor[:id] %>" <%= 'selected' if doctor[:id] == params[:doctor_id].to_i %>>
                  <%= doctor.full_name %>
                  </option>
                <% end %>
              <% end %>
            </select>

          </div>
          </li>

        </ul>
      </div>
    </form>

  </div>
</div>
<br />

</section>
