<!-- modal-form -->
<div class="modal hide fade" id="trial_type">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>İlaçlar</h3>
  </div>
  <div class="modal-body">

    <% trial_types = TrialType.all %>

    <% if trial_types.count > 0 %>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Ad</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <% trial_types.each do |trial_type| %>
            <form action="/admin/invoices" method="post" class="">

              <tr>
                <td><%= trial_type[:id] %></td>
                <td><%= trial_type[:name] %></td>
                <td class="links"><button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Ekle</button></td>
              </tr>

              <input type="hidden" name="consult_id" value="<%= params[:id] %>"><!-- #FIXME -->
              <input type="hidden" name="product_id" value="<%= trial_type[:id] %>">  <!-- #FIXME -->
              <input type="hidden" name="product_type" value="0">               <!-- #FIXME -->
              <input type="hidden" name="price" value="<%= trial_type[:price] %>">    <!-- #FIXME -->
            </form>
          <% end %>

        </tbody>
      </table>
    <% else %>
      <center>
        Hiç Kayıt Bulunamadı
      </center>

      <div class="form-actions">
        <center>
          <a href="/admin" class="btn btn-primary">Ana Sayfaya Dön</a>
        </center>
      </div>
    <% end %>
  </div>
</div><!--/.modal-form -->
