<%= render :partial => "admin/invoices/sort" %>
<%
  invoices = Invoice

  if params[:start_date] and !params[:start_date].empty?
    invoices = invoices.where("created_at >=? ", params[:start_date])
  end

  if params[:end_date] and !params[:end_date].empty?
    invoices = invoices.where("created_at <=? ", params[:end_date])
  end

  invoices = invoices.group("product_id, product_type")

%>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Ürün</th>
      <th>Adet</th>
      <th>Ortalama Fiyat</th>
      <th>Gelir</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <% if invoice[:product_type] %><td><%= Drug.find(invoice[:product_id]).name %></td>
        <% else %><td><%= TrialType.find(invoice[:product_id]).name %></td>
        <% end %>
        <% if params[:start_date] and !params[:start_date].empty? and params[:end_date] and !params[:end_date].empty? %>
            <% products = Invoice.find(:all, :conditions =>
                                          ["product_id = ? and product_type = ? and created_at >= ? and created_at <= ?",
                                          invoice[:product_id], invoice[:product_type], params[:start_date], params[:end_date]])
                                        %>
        <% end %>
        <% if params[:start_date] and !params[:start_date].empty? %>
          <% products = Invoice.find(:all, :conditions =>
                                        ["product_id = ? and product_type = ? and created_at >= ?",
                                        invoice[:product_id], invoice[:product_type], params[:start_date]])
                                      %>
        <% end %>
        <% if params[:end_date] and !params[:end_date].empty? %>
          <% products = Invoice.find(:all, :conditions =>
                                        ["product_id = ? and product_type = ? and created_at <= ?",
                                        invoice[:product_id], invoice[:product_type], params[:end_date]])
                                      %>
        <% end %>
        <% products = Invoice.find_all_by_product_id_and_product_type(invoice[:product_id],invoice[:product_type]) unless products %>
        <td><%= products.sum(&:sequence) %></td>
        <td><%= products.sum(&:price) / products.count %></td>
        <td><%= products.sum { |product| product[:price] * product[:sequence] } %></td>
      </tr>
    <% end %>
    <tr>
      <td>Toplam</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
