<% if drug = Drug.find(params[:id]) %>

  <form class="form-horizontal">
    <fieldset>
      <legend>İlaç</legend>
      <div class="control-group">
        <label class="control-label" for="disabledInput">Ad (*)</label>
        <div class="controls">
          <input type="text" class="input-xlarge disabled" id="disabledInput" value="<%= drug[:name] %>" disabled>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="disabledInput">İçerik (*)</label>
        <div class="controls">
          <textarea rows="4" class="input-xlarge disabled" id="disabledInput" disabled><%= drug[:content] %></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="disabledInput">Fiyat (*)</label>
        <div class="controls">
          <input type="text" class="input-xlarge disabled" id="disabledInput" value="<%= drug[:price] %>" disabled>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <a href="/<%= request[:controller] %>/<%= drug[:id] %>/edit" class="btn btn-primary">Düzenle</a>
      <a href="/<%= request[:controller] %>/<%= drug[:id] %>/destroy" class="btn btn-danger"
      onclick="return confirm('Bu kaydı gerçekten silmek istiyor musunuz?')">Sil</a>
    </div>
  </form>
<% else %>
  <center>
    Böyle Bir İlaç Bulunamadı
  </center>
<% end %>
