<% if session[:patient] %>
  <% consults = session[:patient].new_consults %>

  <% if consults != [] %>
    <div data-spy="scroll" data-offset="0" class="scrollspy1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Bölüm</th>
            <th>Doktor</th>
            <th>Tarih</th>
            <th>Saat</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% consults.each do |consult| %>
            <tr>
              <td><%= consult.doctor.department.name %></td>
              <td><%= consult.doctor.full_name %></td>
              <td><%= consult.day_and_weekday %></td>
              <td><%= consult.hour %></td>
              <td>
                <a class="btn btn-danger" onClick="return confirm('Silmek istediğinizden emin misiniz ?');"
                  href="/home/consult_destroy/<%= "#{consult[:id]}/#{consult[:patient_id]}" %>">
                  İptal Et
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <center>
      Hiç Kayıt Bulunamadı
    </center>
  <% end %>
<% end %>
