<% if admin = Admin.find(params[:id]) %>
  <form action="/admin/admins/update" method="post" enctype="multipart/form-data" class="form-horizontal" >
    <fieldset>
      <legend>Admin Düzenle</legend>
      <div class="control-group">
        <label class="control-label" for="input03">Ad (*)</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input03" name="first_name" value="<%= admin[:first_name] %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input04">Soyad (*)</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input04" name="last_name" value="<%= admin[:last_name] %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input05">Tel (*)</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input05" name="password" value="<%= admin[:password] %>">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="fileInput">Fotoğraf (*)</label>
        <div class="controls">
          <% if admin[:image_url] %>
            <img src="<%= admin[:image_url] %>" width="128" height="128" alt="" />
          <% end %>
          <input type="file" class="input-file" id="fileInput" name="image">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Grup</label>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="status" id="optionsRadios1" value="1" <%= "checked" if admin[:status] == 1 %>>
            <span class="label label-info">Admin</span>
          </label>
          <label class="radio">
            <input type="radio" name="status" id="optionsRadios2" value="0" <%= "checked" if admin[:status] == 0 %>>
            <span class="label label-important">Personel</span>
          </label>
        </div>
      </div>


      <input type="hidden" name="id" value="<%= admin[:id] %>"><!-- #FIXME -->
    </fieldset>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
  </form>

<% else %>
  <center>
    Böyle Bir Kullanıcı Bulunamadı
  </center>
<% end %>

