<section id="#">
<div class="page-header">
  <h1>Hastalar <small>(<%= File.basename request.path %>)</small></h1>
</div>
<div class="row">
  <div class="span3 columns">
    <h3>Hakkında</h3>
    <p>Sisteme kayıtlı olan hastalardır.</p>
  </div>
  <div class="span9 columns">
    <h2>Sıralama</h2>

    <form action="<%= request.path %>" method="get" class="form-inline" >
      <div class="span9">
        <p>Sıralama işlemini aşağıdaki kutuları kullanarak yapabilirsiniz.</p>

        <ul class="thumbnails">

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Tc</h5>

            <input type="text" class="input-small" name="tc" value="<%= params[:tc] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Dosya No</h5>

            <input type="text" class="input-small" name="file_no" value="<%= params[:file_no] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Ad</h5>

            <input type="text" class="input-small" name="first_name" value="<%= params[:first_name] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Soyad</h5>

            <input type="text" class="input-small" name="last_name" value="<%= params[:last_name] %>" onchange='this.form.submit()'>

          </div>
          </li>

          <li class="span2.5">
          <div class="thumbnail caption">
            <h5>Doğum Tarihi</h5>

            <input class="input-small" type="text" name="date" data-datepicker="datepicker"
            value="<%= params[:date] if params[:date] %>" onchange='this.form.submit()'>

          </div>
          </li>

        </ul>
      </div>
    </form>

  </div>
</div>
<br />

</section>
