<%= render :partial => "admin/patients/sort" %>
<%
  patients = Patient

  if params[:tc] and !params[:tc].empty?
    patients = patients.where("tc like ?", "#{params[:tc]}%")
  end

  if params[:file_no] and !params[:file_no].empty?
    patients = patients.where("file_no like ?", "#{params[:file_no]}%")
  end

  if params[:date] and !params[:date].empty?
    patients = patients.where("birthday like ?", "#{params[:date]}%")
  end

  if params[:first_name] and !params[:first_name].empty?
    patients = patients.where("first_name like ?", "#{params[:first_name]}%")
  end

  if params[:last_name] and !params[:last_name].empty?
    patients = patients.where("last_name like ?", "#{params[:last_name]}%")
  end

  unless params[:tc] and params[:file_no] and params[:first_name] and params[:last_name] and params[:date]
    patients = patients.all
  else
    if params[:tc].empty? and params[:file_no].empty? and \
      params[:first_name].empty? and params[:last_name].empty? and params[:date].empty?
      patients = patients.all
    end
  end
%>

<% if patients.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Tc</th>
        <th>Dosya no</th>
        <th>Ad Soyad</th>
        <th>Randevu</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% patients.each do |patient| %>
        <tr>
          <td><%= patient[:id] %></td>
          <td><%= patient[:tc] %></td>
          <td><%= patient[:file_no] %></td>
          <td><%= patient.full_name %></td>
          <td><a href="/admin/consults/<%= patient[:id] %>/patient" rel="tooltip" class="icon-eye-open" title="Randevu"></a></td>
          <td class="links">
            <a href="/<%= request[:controller] %>/<%= patient[:id] %>" rel="tooltip" class="icon-info-sign" title="Göster"></a>
            <a href="/<%= request[:controller] %>/<%= patient[:id] %>/destroy" rel="tooltip" class="icon-trash" title="Sil"
              onclick="return confirm('Bu kaydı gerçekten silmek istiyor musunuz?')"></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <center>
    Hiç Kayıt Bulunamadı
  </center>

  <div class="form-actions">
    <center>
      <a href="/admin" class="btn btn-primary">Ana Sayfaya Dön</a>
    </center>
  </div>
<% end %>

<a href="/<%= request[:controller] %>/new" class="btn btn-primary">Yeni Hasta Ekle</a>
